@font-face {
  font-family: MonaspiceArNerdFont;
  font-style: normal;
  font-weight: 500;
  font-display: swap; 
  src: url(/fonts/MonaspiceArNerdFont-Medium.woff2) format("woff2");
  unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

:root {
  --at-apply: font-sans;
  --theme-background: 0 0% 100%; /** #fff */
  --theme-accent: 185 100% 72%; /* #70F3FF */
  --theme-border: 0 0% 80%; /* #cccccc */

}

.dark {
  --theme-background: 240 3% 11%; /* #1c1c1e */
  --theme-accent: 200 77% 39%; /* #177CB0 */
  --theme-border: 240 1% 29%;/* #49494b*/

}

.prose {
  --un-prose-bg-soft: #e8e8e8;
  --un-prose-borders: hsl(var(--theme-accent) / 0.8)
}

.dark .prose {
  --un-prose-bg-soft: #18181a;
}

.dark ::-webkit-scrollbar-thumb,.dark ::-webkit-scrollbar-thumb:hover {
  border: 3px solid #3f3f46
}

.dark ::-webkit-scrollbar,.dark ::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}

::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:hover {
  background-color: initial;
  border: 3px solid #d4d4d8;
  border-radius: 5px
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
  background: #f4f4f5
}

::-webkit-scrollbar-thumb {
  --at-apply: bg-accent; 
}

::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-accent:80; 
}

::-webkit-scrollbar-corner {
  background: #f4f4f5
}
